.infoSite {
  display: flex;
  justify-content: space-between;
  margin: 5em 2em;
  .infoBox {
    width: 30%;
    text-align: left;
    flex: 1;

    .typewriter h2 {
      float: left;
      text-align: left;
      width: 280px;
      color: #1cddbc;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid #1cddbc; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.15em; /* Adjust as needed */
      animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
    }
  }
  .infoImage {
    flex: 1;
    width: 100%;
    img {
      width: 50%;
    }
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 280px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #1cddbc;
  }
}
